@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
*{
    font-family: 'cwTeXHei', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
body>header {
    background-position-y:33%; 
    padding: 20px 0 0 0;
    width: 100%;
    height: calc(100vh/2);
/*    position:relative;*/
}
header h1{
/*    position:absolute;*/
    font-size: 3em;
    text-align: center;
    display: block;
    margin-top: 17vh;
/*    left: calc(100vw/2);*/
}
h1{
    font-size: 2.3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
header a {
    color: white;
    text-decoration: none;
}
body>footer{
    background: #000;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/**
inspired by https://codepen.io/philhoyt/pen/ujHzd
*/
.section{
  margin: 40px 0;
}

.action-section ul
{
	list-style: none;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.action-section ul li{
  padding: 0;
  margin: 0;
}
.action-title{
  position: relative;
  cursor: pointer;
}
.action-title img{
  display: block;
}
.action-title::after{
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all linear 0.1s;
  background-color: rgba(255,255,255,0);
  z-index: 1;
}
.action-title:hover::after{
  background-color: rgba(255,255,255,0.15);
  
}
.action-content{
  margin: 0;
  padding: 20px 10px;
}
.action-image-word{
  left: 40px;
  top: 40px;
  position: absolute;
  z-index: 1;
}
.action-image-picture-wrapper{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.action-image-picture-wrapper img{
/*  position: absolute;*/
  margin-top: -160px;
}

.accordian{
  transition: all ease-out 0.2s;
  height: 220px;
  max-height: 5000px;
  overflow: hidden;
  background: #ddd;
}
.accordian.ng-hide{
  max-height: 0;
}

.media-content{
  width: 50%;
  position: relative;
  height: 400px;
}
.media-content h3{
  color: white;
}

.media-info{
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
}

.media-source{
  float: right;
  color: white;
}

.media-section img{
/*
  position: absolute;
  left:0;
  top: 0;
  z-index: -1;
*/
}

/**
  main
*/

body>main {
    margin: 60px auto 0;
}

main img{
    max-width: 100%;
}

/*
inspired by https://codepen.io/palimadra/pen/lKgDd
*/
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}



/** 
  RWD Begin
*/

@media only screen and (max-width: 767px) {
    body>* {
        width: 100%;
    }
    main-content {
        padding: 0 20px;
    }
    main-content>p{
        width: calc(100% - 40px);
    }
    main-content img{
        max-width: calc(100% - 40px);
    }
}


@media only screen and (min-width: 768px) {
    body>*{
        width: 720px;
        margin: 0 auto;
    }
}

/**
  RWD End
*/