<!doctype html>
<html lang="zh-hant"  ng-app="page" scroll>
<head>
	<meta charset="UTF-8">
	<title>貧窮人的台北</title>
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/style.css">
    <script src="https://code.angularjs.org/snapshot/angular.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-sanitize.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-animate.js"></script>
<!--    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>-->
    <script src="https://cdn.rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
	<meta property="og:url" content="https://trelolo.com" />
<!--    <meta property="og:type"               content="article" />-->
    <meta property="og:title" content="貧窮人的台北" />
    <meta property="og:description" content="貧窮人的台北" />
    <meta property="og:image"  content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

//  ga('create', 'UA-106608292-1', 'auto');

</script>
</head>

<body  ng-controller="MgCtrl as ctl">


<header style="background-image: url(img/banner-03.jpg);background-color: {{bgColor}};background-position-y: {{header_bg_top}}px;">
<!--    <h1><a style="color: {{bgTextColor}};" href="/?b/{{boardID}}">{{myData.name}}</a></h1>-->
</header>
<main>
<div class="main-content section"  ng-bind-html="info">
  
</div>
<div class="action-section section">
  <ul>
       <li ng-repeat="item in actions" ng-if="$index > 0">
         <div ng-click="toggleAction($index)" class="action-title">
           <img class="action-image-word" src="{{item.word_image}}" alt="">
           <div class="action-image-picture-wrapper">
             <img src="{{item.img}}" alt="">
           </div>
         </div>
         <div class="accordian action-content" ng-bind-html="item.content" ng-show="showAction[$index]"></div>
       </li>
    </ul>
</div>
<div class="media-section section">
 <h2>媒體報導</h2>
  <div class="media-content" ng-repeat="item in news" style="background-image: url({{item.img}});background-size: cover;">
    <div class="media-info">
      <h3>{{item.title}}</h3>
      <div class="media-source">{{item.source}}</div>
    </div>
   </div>
</div>
 <div class="main-content section" ng-bind-html="main">
   
 </div>
  <div class="cta section">
    <a href="{{cta.url}}" target="_blank"><img src="https://dummyimage.com/300x100/18bec4/ffffff?text={{cta.title}}" alt=""></a>
  </div>
</main>
<footer>
    Copyright © 2017 <a href="http://trelolo.com/">trelolo.com</a>
</footer>


<script src="js/script.js"></script>

</body>
</html>